PORT=5000
DATABASE_URL="postgresql://user:password@localhost:5432/powercut_db?schema=public"
KEYCLOAK_URL="http://localhost:8080"
KEYCLOAK_REALM="powercut-realm"
KEYCLOAK_CLIENT_ID="powercut-client"
KEYCLOAK_PUBLIC_KEY="YOUR_REALM_PUBLIC_KEY"
